<!DOCTYPE html>

<!--
Веб версия
-->

<html>
<head>
<title>Airports</title>
</head>
<body bgcolor="#CD5C5C" style="color:#fff; 
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size:120%">

<h1 align="center">Airlines</h1>
<table style="width:70%;margin:30px auto; border-collapse:collapse; 
font-family: Verdana, Arial, Helvetica, sans-serif;"
align="center">
      <tr>
        <th align="center" >Откуда</th>
        <th align="center" >Куда</th>
	  <tr>
<form method="POST">	  
	   <th><input type="text" name="departure"  value="Moscow" size="45%";></th>
       <th><input type="text" name="arrival"  value="Paris"; size="45%"></th>
	   <th align="center"><input type="submit" value="Найти маршрут"></th> 
</form>	   
    </table>
